.list-box-movies .title-movies {
  color: var(--pink-color);
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}

.list-box-movies .list-movie-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  margin-bottom: 30px;
}
.list-box-movies .list-movie-item .img {
  border-radius: var(--radius);
  width: 228px;
  height: 224px;
  overflow: hidden;
}
.list-box-movies .list-movie-item .img img {
  width: 100%;
  height: 100%;
}

.list-box-movies .list-movie-item .movie-list-title {
  background-color: var(--secondary-black-color);
  padding: 50px;
  border-radius: var(--radius);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
